
@import "variables";
@mixin tipografia ($colorfont, $font){
    font-family: $font;
    color:$colorfont;
}

/*------------------NAV_BAR------------------*/

/*-------TRANSICION--------*/


nav h1{
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 2vh;
    padding-top: 2vh;

    @include tipografia( $colorfont, $font);

}

nav{

    &:hover{
        background-color: #ffffff17;
        transition-duration:1s ;
    }

    .nav-item a, #navbarScrollingDropdown, .dropdown-item{
        text-transform: uppercase;
        text-decoration: none;
        @include tipografia( $colorfont, $font);
        font-weight: 300;
        color: #ffffff;
        z-index: 110;
        &:hover {
            color: #de90ff;
        }
        
    }

    .dropdown-menu{
        background-color: transparent;
        color: #ffffff;
    }

    button{ /*important para sacar el color del borde del button de bootstrap*/
       color:transparent !important;
    }

}

a {
    text-decoration: none;
    list-style: none;
    color: #ffffff;

    &:hover {
        color: #de90ff;
    }

}

.icon-cart, .icon-insta {
    display: none;
}

.icon-insta img, .icon-cart img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

#nav-about{
    h1{
        font-size: x-large !important;
    }
    font-size: large  !important;
    padding: 1.5% !important;
}



/*-------FOOTER----------*/

footer {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    margin-top: 5vh; /*mobile*/
    text-decoration: none;   
    justify-content:space-around;
    align-items:center;
   
   
    @include tipografia( $colorfont, $font);
   
    p{
        justify-content: flex-end;
        margin-top:2vh ;

        img{
            height: 2.7vh;
            filter: invert(1);
        }
    }

    &:hover{
        background-color: #ffffff17;
        transition-duration:1s ;
    
    }

    img{
        max-width: 1.5em;
        filter: invert(1);
    }

    .fa-twitter, .fa-instagram, .fa-github {
        align-content: space-around;
        font-size: 1.8em;
        &:hover{
            color: #de90ff;
            transition: 0.7s;
        }
    } 
}


